<!-- Footer -->

<footer class="footer">
	<div class="container">
		<div class="row">

			<!-- Footer Column -->
			<div class="col-lg-3 footer_column">
				<div class="footer_col">
					<div class="footer_content footer_about">
						<div class="logo_container footer_logo">
							<div class="logo"><a href="#"><img src="/static/images/logo.png" alt="">Yatra</a></div>
						</div>
						<p class="footer_about_text">Yatra is India's largest brand for online bus ticket booking and offers an easy-to-use online bus ticket booking service and train; with over 36 million satisfied customers, 3500+ bus operators to choose from, and plenty of offers on bus ticket booking, redBus makes road journeys super convenient for travellers.</p>
						<ul class="footer_social_list">
							<li class="footer_social_item what"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
							<li class="footer_social_item face"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="footer_social_item lin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li class="footer_social_item insta"><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="footer_social_item git"><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Column -->
			<div class="col-lg-3 footer_column">
				<div class="footer_col">
					<div class="footer_title">blog posts</div>
					<div class="footer_content footer_blog">

						<!-- Footer blog item -->
						<div class="footer_blog_item clearfix">
							<div class="footer_blog_image"><img src="/static/images/footer_blog_1.jpg"
									alt="https://unsplash.com/@avidenov"></div>
							<div class="footer_blog_content">
								<div class="footer_blog_title"><a href="{% url 'blog' %}">Seamless Booking Process</a>
								</div>
								<!-- <div class="footer_blog_date">Nov 29, 2017</div> -->
							</div>
						</div>

						<!-- Footer blog item -->
						<div class="footer_blog_item clearfix">
							<div class="footer_blog_image"><img src="/static/images/footer_blog_2.jpg"
									alt="https://unsplash.com/@deannaritchie"></div>
							<div class="footer_blog_content">
								<div class="footer_blog_title"><a href="{% url 'blog' %}">Secure and Hassle-Free
										Payments</a>
								</div>
								<!-- <div class="footer_blog_date">Nov 29, 2017</div> -->
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Footer Column -->
			<div class="col-lg-3 footer_column">
				<div class="footer_col">
					<div class="footer_title mx-4">Our Sponsor's</div>
					<div class="footer_content footer_tags">
						<ul class="tags_list clearfix">
							<li class="tag_item"><a href="#">Dream 11</a></li>
							<li class="tag_item"><a href="#">Abhi</a></li>
							<li class="tag_item"><a href="#">Reliance</a></li>
							<li class="tag_item"><a href="#">Kingfisher</a></li>
							<li class="tag_item"><a href="#">Accenture</a></li>
							<li class="tag_item"><a href="#">Amazone</a></li>
							<li class="tag_item"><a href="#">MakeMyTrip</a></li>
							<!-- <li class="tag_item"><a href="#">EaseMyTrip</a></li> -->
							<!-- <li class="tag_item"><a href="#">My11Circle</a></li> -->
							<li class="tag_item"><a href="#">Fizz</a></li>
							
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Column -->
			<div class="col-lg-3 footer_column">
				<div class="footer_col">
					<div class="footer_title mx-4">contact info</div>
					<div class="footer_content footer_contact">
						<ul class="contact_info_list">
							<li class="contact_info_item d-flex flex-row">
								<div>
									<div class="contact_info_icon imap"><img src="/static/images/placeholder.svg"
											alt=""></div>
								</div>
								<div class="contact_info_text">Paliyad Road,Botad -364710</div>
							</li>
							<li class="contact_info_item d-flex flex-row">
								<div>
									<div class="contact_info_icon iphone"><img src="/static/images/phone-call.svg"
											alt=""></div>
								</div>
								<div class="contact_info_text">+91 9081884581</div>
							</li>
							<li class="contact_info_item d-flex flex-row">
								<div>
									<div class="contact_info_icon imsg"><img src="/static/images/message.svg" alt="">
									</div>
								</div>
								<div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello"
										target="_top">contactme@gmail.com</a></div>
							</li>
							<li class="contact_info_item d-flex flex-row">
								<div>
									<div class="contact_info_icon iearth"><img src="/static/images/planet-earth.svg"
											alt=""></div>
								</div>
								<div class="contact_info_text"><a href="#">www.yatra.com</a></div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>